.features {
    padding-top: 94px;
    &__item {
    @include flex-basis (var(--indent), var(--features));
    }

    &__icon {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 270px;
        height: 120px;

        background-color: var(--btn);
        border-radius: 4px;

    }

    &__subtitle {
        margin-bottom: 10px;

        color: var(--scnd-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
}